.top{
  background-color: #e4f9f5;
  position:relative;
  padding-top: 80px;
}
.middle{
  margin:30px;
}
.skill{
  margin:30px;
}
.skills-row{
  width:50%;
  margin:150px auto;
  text-align: left;
}
a{
  text-decoration: none;
  margin:10px 20px;
  color:#11999e;
}
a:hover{
  color:#eaf6f6;
}
.copyright{
  color:#eaf6f6;
  font-size: .75rem;
  padding:20px 0 ;
}
.contactmessage{
  width: 40%;
  margin:40px auto 60px;
}

  .testbutton {
  font-family: arial;
  color: #FFFFFF !important;
  font-size: 14px;
  text-shadow: 1px 1px 0px #7CACDE;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 10px 25px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 2px solid #1F628D;
  background: #63B8EE;
  background: linear-gradient(top,  #11CDD4,  #11999E);
  background: -ms-linear-gradient(top,  #11CDD4,  #11999E);
  background: -webkit-gradient(linear, left top, left bottom, from(#11CDD4), to(#11999E));
  background: -moz-linear-gradient(top,  #11CDD4,  #11999E);

}
.testbutton:hover {
  color: #14396A !important;
  background: #468CCF;
  background: linear-gradient(top,  #30E3CB,  #2BC4AD);
  background: -ms-linear-gradient(top,  #30E3CB,  #2BC4AD);
  background: -webkit-gradient(linear, left top, left bottom, from(#30E3CB), to(#2BC4AD));
  background: -moz-linear-gradient(top,  #30E3CB,  #2BC4AD);


}
.bottomcontainer{
  padding:50px 0 20px ;
  background-color: #66bfbf;
  margin-top: 50px;

}

p{
  line-height: 2;

}
hr{
  border: dotted #f0f0f0 6px;
  border-bottom: none;
  width:4%;
  margin:40px auto;
}
.intro{
  width:18%;
  margin:auto;
}
.programming-gif{
  width:40%;
  float:left;
  margin-right: 30px;
}
.developer-gif{
  width:40%;
  float:right;
  margin-left: 30px;

}

h1{
  font-size:5.625rem;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
  color:#66bfbf;

}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5;
  color:#66bfbf;
  padding-bottom: 10px;


}
h3{
  font-family: 'Montserrat', sans-serif;
  color:#11999e;
}
.web{
  text-decoration: underline;
}
body{
  margin:0;
  color:#40514e;
  text-align: center;
  font-family: 'Merriweather', serif;
}
.top-cloud{
  position:relative;
  left:300px;
  }
.bottom-cloud{
  position:absolute;
  left:200px;
}
.project-row {
  margin: 100px auto;
  display: flex;
}
.image {
  border-radius: 10px;
}
.image img {
  -webkit-filter: grayscale(0) blur(0);
  filter: grayscale(0) blur(0);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.image:hover img {
  -webkit-filter: grayscale(100%) blur(3px);
  filter: grayscale(100%) blur(3px);
}
.contact-gif{
  width:20%;
  float: center;
  margin: 30px;
}